__pycache__/*
*.pyc
retinaface/__pycache__/
retinaface/__pycache__/*
retinaface/commons/__pycache__/
retinaface/commons/__pycache__/*
retinaface/model/__pycache__/
retinaface/model/__pycache__/*
retinaface/test/__pycache__/*
retinaface/test/dataset/__pycache__/*
retina_face.egg-info/*
build/
dist/
Pipfile
Pipfile.lock
.mypy_cache/
.vscode/
.idea/
.DS_Store
**/__pycache__/
